.form-control{
    box-shadow: 0px 0px 15px 0px green;
    border-radius: 10px !important;
}
.form-control:focus{
    box-shadow: 0px 0px 7px 0px purple !important;
    border: 1px solid black !important;
}
.form-control:hover{
    box-shadow: 0px 0px 10px 0px orange;
    border: 1px solid whitesmoke !important;
}
.btn-outline-warning{
    background-color:rgb(20,20,20) !important;
    box-shadow: 0px 0px 7px 0px black !important;
    border-radius: 5px !important;

}
.btn-outline-warning:hover{
    color: black !important;
    background-color: orange !important;
    box-shadow: 0px 0px 10px 0px black !important;
}
.navbar-toggler{
    font-size: 13px !important;
    border-radius: 10px !important;
    color: #420a68 !important;
    box-shadow: 0px 0px 13px 0px black;
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 0%, #784BA0 50%, #2B86C5 100%);
}
.nav-item{
    margin-top: 0.4rem !important;
    text-align: center;
    margin-inline: 20% !important;
    cursor: pointer !important;
    margin-top: 1rem !important;
}
.nav-link{
    border-radius: 7px !important;
    padding: 10px !important;
    letter-spacing: 1.2px !important;
    transition-duration: 1200ms;
}
.navbar-items{
    .active{
        box-shadow: 0px 0px 10px 0px orangered;
    }
    .nav-link:hover{
        box-shadow: 0px 0px 10px 0px whitesmoke;
    }
    .nav-link:focus{
        box-shadow: 0px 0px 40px 0px whitesmoke;
    }
}


